<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hellodocker.mapper.PowerUserMapper">
  <resultMap id="BaseResultMap" type="com.example.hellodocker.bean.PowerUser">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_phone_number" jdbcType="VARCHAR" property="userPhoneNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_phone_number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from power_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from power_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="com.example.hellodocker.bean.PowerUser" useGeneratedKeys="true">
    insert into power_user (user_name, user_phone_number)
    values (#{userName,jdbcType=VARCHAR}, #{userPhoneNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.example.hellodocker.bean.PowerUser" useGeneratedKeys="true">
    insert into power_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPhoneNumber != null">
        user_phone_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhoneNumber != null">
        #{userPhoneNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.hellodocker.bean.PowerUser">
    update power_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhoneNumber != null">
        user_phone_number = #{userPhoneNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.hellodocker.bean.PowerUser">
    update power_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_phone_number = #{userPhoneNumber,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>